
mat-card {
  margin-bottom: 2%;
}

input[type="file"] {
  visibility: hidden;
}

 mat-form-field {
   margin-right: 4%;
 }

 .header {
  background-size: cover;
}

button {
  margin-right: 2%;
}

//  img{
//   padding: 0 20px;
//   margin: auto;
//   width: 20%;
//   box-sizing: border-box;
// }
