<mat-sidenav-container class="sidenav-container ">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false" >
    <mat-toolbar backgroundColor="primary">Menu</mat-toolbar>
    <mat-nav-list dense>
      <a mat-list-item routerLink="/company/home"><mat-icon>home</mat-icon>Home</a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <div *ngIf="isAuthenticated && company">
      <span *ngIf="user.roleId == 4 || user.roleId == 3 || moderator">
        <mat-list>
          <mat-list-item><mat-icon matListIcon>admin_panel_settings</mat-icon><strong>Admin</strong> </mat-list-item>
        </mat-list>
        <mat-nav-list dense class="test">
          <a mat-list-item routerLink="/company/users" *ngIf="user.roleId == 4">Manage users</a>
          <a mat-list-item routerLink="/company/group" *ngIf="user.roleId == 3 || moderator || user.roleId == 4">Manage groups</a>
          <a mat-list-item [routerLink]="['/company/edit', company.id]" *ngIf="user.roleId == 4">Edit company</a>
        </mat-nav-list>
      </span>

    </div>

    <!-- *ngFor="let comment of post.comments" -->
    <mat-divider></mat-divider>
    <span *ngIf="groups">
      <mat-list>
        <mat-list-item><mat-icon matListIcon>groups</mat-icon><strong> All groups</strong></mat-list-item>
      </mat-list>
      <mat-nav-list dense *ngFor="let group of groups">
        <a routerLinkActive="mat-accent" mat-list-item [routerLink]="['/company/group/home/', group.groupId]">{{group.name}}</a>
      </mat-nav-list>
    </span>
    <span *ngIf="userGroups">
      <mat-list>
        <mat-list-item><mat-icon matListIcon>groups</mat-icon><strong> My groups</strong></mat-list-item>
      </mat-list>
      <mat-nav-list dense *ngFor="let group of userGroups">
        <a routerLinkActive="mat-accent" mat-list-item [routerLink]="['/company/group/home/', group.group.groupId]">{{group.group.name}}</a>
      </mat-nav-list>
    </span>
  </mat-sidenav>
  <mat-sidenav-content class="my-sidenav-content">
    <mat-toolbar color="primary"  [ngStyle]="{'background-color': company ? company.backgroundColor : ''}">

      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf="company">{{company.Name}}</span>
      <span *ngIf="!company"><img src="/assets/CSM_Group.png"></span>

      <span class="fill-space"></span>

      <ul>
        <li>
          <a mat-button routerLink="/signup" routerLinkActive="mat-accent" *ngIf="!isAuthenticated">Sign up</a>
        </li>
        <li>
          <a mat-button routerLink="/login" routerLinkActive="mat-accent" *ngIf="!isAuthenticated">Log in</a>
        </li>
        <li>
          <button mat-button [matMenuTriggerFor]="settingsMenu" *ngIf="isAuthenticated">
            <mat-icon>settings</mat-icon>
            Settings
          </button>
          <mat-menu #settingsMenu="matMenu">
            <button mat-menu-item  routerLink="/profile/edit" *ngIf="isAuthenticated">
              <mat-icon>person</mat-icon>
              Edit profile
            </button>
            <button mat-menu-item (click)="onLogout()" *ngIf="isAuthenticated">
              <mat-icon>logout</mat-icon>
              Logout
            </button>
          </mat-menu>
        </li>
      </ul>
    </mat-toolbar>
    <div class="main ">
      <ng-content></ng-content>
    </div>
    </mat-sidenav-content>
</mat-sidenav-container>
